.mainDiv{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:30px;
    font-family: Oswald;
    font-size: 18px;
    justify-content: center
}

p{
    font-size: 18px;
}

ul {
    list-style-type: none; 
    padding: 0; 
}


li {
    position: relative; 
    padding-left: 40px; 
}

li::before {
    content: ''; 
    position: absolute; 
    left: 15px; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 15px; 
    height: 10px; 
    background: linear-gradient(94deg, rgb(4, 0, 247) 0%, rgba(251,251,251,0.72) 73%); 
 
}
.adressPicture{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    gap: 20px;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 10px 15px 0px rgba(66, 68, 90, 1);
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.itsMe{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-wrap: break-word;
}

.namePhoneEmail{
    display: flex;
    gap:10px;
    justify-content: space-around;
}

.namePhoneEmailPart{
    display: flex;
    flex-direction: column;
}

.namePhoneEmailParagraph{
    font-size: 19px;
    font-weight: 500;
    height: 100%;
    
}

a{
    text-decoration: none;
    color: black;
    margin: 5px
   
}

img{
    width: 80%;
    border-radius: 10%;
    box-shadow: 0px 10px 9px -5px rgba(66, 68, 90, 1);
}

.about{
    width: 500px;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 10px 15px 0px rgba(66, 68, 90, 1);
    overflow-wrap: break-word;
}

.infoDiv{
    width: 300px;
}


.Education{
    width: 300px;
}

.Courses{
    width: 300px
}