.mainDiv{
    min-height: 110vh;
}

.List{
    display: flex;
    flex-direction: column;  
}

.tickerName{
    display: flex;
}

.tickerData{
    display: flex;
}

.buttonsDiv{
    display: flex;
    justify-content: center;
}

.selectDiv{
    display: flex;
    justify-content: space-evenly;  
}

.select{
    width: 200px;
    text-align: center;
}