.dataCells{
    background: rgb(12, 96, 185, 0.67);
    text-align: center;
    font-family: Oswald;
}

.dataCells:nth-child(2){
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dataCells:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nameCells{
        font-style: italic;
        background: #ace4e6;
        text-align: center;
        border-radius: 10px;
        font-family: Oswald;
        display: flex;
        flex-direction: column;
        justify-content: space-around
}

.paragraph{
    margin: 2px;
    animation: apear-slow-label 3s  ease-in;
}

.paragraphBottom{
    font-style: normal;
    margin: 2px;
    animation: apear-slow-label  3s ease-in;
}

.thParagraph{
    animation: apear-slow 3s cubic-bezier( 0.23, 1, 0.32, 1 );
}

table{
    border-spacing: 7px;
}

th{
    background-color: rgb(118, 196, 228);
    box-shadow: 0px 10px 9px -5px rgba(66, 68, 90, 1);
}

.thLabel{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

th:last-of-type{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

th:first-of-type{
    border-radius: 10px;
}

th:nth-of-type(2){
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.red {
    color: rgba(255, 0, 0, 0.682);
    animation: red-color 1s cubic-bezier(0.23, 1, 0.32, 1), rotate-slow 3s cubic-bezier(0.23, 1, 0.32, 1);
    background-color: rgb(12, 96, 185, 0.67);
}

.green {
    color: rgba(0, 128, 0, 0.774);
    animation: green-color 1s cubic-bezier(0.23, 1, 0.32, 1), rotate-slow 3s cubic-bezier(0.23, 1, 0.32, 1);
    background-color: rgb(12, 96, 185, 0.67);
}



.button{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

td{
    animation: rotate-slow 3s cubic-bezier( 0.23, 1, 0.32, 1 );
    box-shadow: 0px 10px 9px -5px rgba(66, 68, 90, 1);
    transition: transform 0.5s;
}

td:hover{
    transform: scale(1.1);
}

@keyframes apear-slow {
    0% {
      opacity: 0;
    }

    50% {
        opacity: 0.1
      }

    100% {
      opacity: 1
    }
  }

  @keyframes apear-slow-label {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1
    }
  }

  @keyframes rotate-slow {
    0% {
        transform: rotateX(0deg);
        opacity: 0.1;
    }
    100% {
        transform: rotateX(720deg);
        opacity: 1;
    }
}

@keyframes green-color {
    0% {
        background-color: rgba(0, 128, 0, 0.774);
    }
    100% {
        background-color: rgb(12, 96, 185, 0.67);
    }
}

@keyframes red-color {
    0% {
        background-color: rgba(255, 0, 0, 0.682);
    }
    100% {
        background-color: rgb(12, 96, 185, 0.67);
    }
}

@media screen and (max-width: 768px) {

    .nameCells {
            width: 150px;
            height: 60px;
        }
    
        .paragraph {
            font-size: 12px;
        }
    
        .paragraphBottom {
            font-size: 12px;
        }
    
        th {
            font-size: 12px;
        }
    
        .thLabel {
            width: 70px;
        }
    
        .dataCells {
            font-size: 15px;
        }
    
        .button {
            width: 20px;
            height: 20px;
            background-color: transparent;
            border: none;
            text-align: center;
            cursor: pointer
        }
    
        .icon {
            width: 20px;
            height: 20px;
        }

        th:nth-of-type(n+3) {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        th:nth-of-type(n+4) {
            position: absolute;
                width: 1px;
                height: 1px;
                margin: -1px;
                border: 0;
                padding: 0;
                white-space: nowrap;
                clip-path: inset(100%);
                clip: rect(0 0 0 0);
                overflow: hidden;
        }

        td:nth-of-type(n+2) {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        td:nth-of-type(n+3) {
            position: absolute;
                width: 1px;
                height: 1px;
                margin: -1px;
                border: 0;
                padding: 0;
                white-space: nowrap;
                clip-path: inset(100%);
                clip: rect(0 0 0 0);
                overflow: hidden;
        }

}

@media screen and (min-width: 768px) and (max-width: 1159px) {
    .nameCells {
            width: 200px;
            height: 60px;
        }

        .paragraph{
            font-size: 14px;
        }
    
        .paragraphBottom{
            font-size: 15px;
        }

    th{
        font-size: 15px;
    }

    .thLabel{
        width: 70px;
    }

    .dataCells {
        font-size: 15px;
    }

    .button {
        width: 17px;
        height: 17px;
        background-color: transparent;
        border: none;
        text-align: center;
        cursor: pointer
    }
    
    .icon {
        width: 17px;
        height: 17px;
    }

}

@media screen and (min-width: 1159px) {
    .dataCells {
        font-size: 20px;
    }

    .nameCells{
        width: 250px;
        height: 60px;
        font-size: 20px;
    }

    .thLabel{
        width: 100px;
    }
    
    .button{
        width: 25px;
        height: 25px;
    }

    .icon{
        width: 25px;
        height: 25px;
    }

    .paragraph{
        font-size: 14px;
    }

    .paragraphBottom{
        font-size: 15px;
    }
}

