.mainDiv{
    min-height: 110vh;
    min-width: 320px
}

.List{
    display: flex;
    flex-direction: column;  
}

.tickerName{
    display: flex;
}

.tickerData{
    display: flex;
}

.buttonsDiv{
    display: flex;
    justify-content: center;
}

.selectDiv{
    display: flex;
    justify-content: space-evenly;  
    padding: 15px
    
}

.select{
    text-align: center;
}

@media screen and (max-width: 768px) {
    .tableDiv{
            display: flex;
                flex-direction: column;
                align-items: center;
            }
    }

@media screen and (min-width: 768px) and (max-width: 1159px) {}

@media screen and (min-width: 1159px) {
    .select {
            width: 220px;
        }
}