.dataCells{
    background: rgb(12, 96, 185, 0.67);
    text-align: center;
    font-family: Oswald;
    font-size: 20px;
}

.dataCells:nth-child(2){
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dataCells:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nameCells{
        font-style: italic;
        background: #ace4e6;
        text-align: center;
        border-radius: 10px;
        width: 350px;
        font-family: Oswald;
        font-size: 20px;
        display: flex;
        flex-direction: column
}

.paragraph{margin: 2px;}

.paragraphBottom{
    font-style: normal;
    margin: 2px;
}

th{
    background-color: rgb(118, 196, 228);
}

.thLabel{
    display: flex;
}

th:last-of-type{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

th:first-of-type{
    border-radius: 10px;
}

th:nth-of-type(2){
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.red{
    color:rgba(255, 0, 0, 0.682)
}

.green{
    color:rgba(0, 128, 0, 0.774)
}

