header{
    background: linear-gradient(#04184b 10%, #144ea0 50%, #04184b 90%);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .66);
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
}

.logoDiv{
    display: flex;
    align-items: center;
}

.headerButton{
    width: 60px;
    border: none;
    background: none;
    color:#88b3c2;
    font-weight: 600;
    font-size: 13px;
    transition: transform 0.725s, color 0.5s;
}

.headerButton:hover{
    color: rgb(0, 225, 255);
    transform: scale(1.1); 
}

.activePageButton{
    width: 60px;
    border: none;
    background: none;
    color:#4acad8;
    font-weight: 600;
    font-size: 17px;
}

.mainDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburgerMenu{
    width: 30px;
    height: 30px;
    color: #4acad8;
    
}


@media screen and (max-width: 768px) {

    header{
        min-width: 340px;
    }   

    .headerButton{
        width: 100px;
        border: 1px solid #4acad8;
        border-radius: 10px;
        background: none;
        color:#4a77d8;
        font-weight: 600;
        font-size: 20px;
        transition: transform 0.725s, color 0.5s;
        text-align: center;
        box-shadow: 0px 5px 15px rgba(13, 5, 49, 0.522);
    }


    .activePageButton{
        width: 300px;
        border: none;
        background: none;
        color:#4a77d8;
        font-weight: 600;
        font-size: 35px;
        text-align: center;
    }
    .mainDiv {
         width: 340px;
    }

    .menuHidden {
        position: absolute;
        display: flex;
        top: 70px;
        background-color: white;
        height: 100vh;
        width: 360px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        opacity: 0.9;
        transform-origin: 450px;
        transform: perspective(4000px) rotate3d(0.1, 1, 0, 90deg) translateX(74vw) translateY(10vw);
        transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
        box-shadow: 0px 0px 30px rgba(13, 5, 49, 0.522);
        padding-top: 30px;
        border-radius: 20px;
        top: 57px;
      overflow: hidden;
    }

    .menu {
        position: absolute;
        display: flex;
        top: 57px;
        background-color: white;
        height: 100vh;
        width: 340px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        transform-origin: 450px;
        transition: opacity 1s ease-in-out, transform 0.5s ease-in;
        opacity: 1;
        transform: perspective(4000px) rotate3d(1, 0, 0, 0deg) translateX(0vw) translateY(0vw);
        box-shadow: 0px 0px 30px rgba(13, 5, 49, 0.522);
        padding-top: 30px;
        border-radius: 20px
    }

    .paragrph {
        font-size: 12px;
        color: #88b3c2;
        font-weight: 500;
    }


    .hamburgerButton{
            background: none;
            border: none;
    }



}

@media screen and (min-width: 768px) and (max-width: 1159px) {
    .mainDiv {
            width: 720px;
        }

    .paragrph {
        font-size: 12px;
        color: #88b3c2;
        font-weight: 500;
    }

    .headerButton {
        width: 80px;
    }

    .activePageButton {
        width: 80px;
    }

    .hamburgerHidden{   
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
        opacity: 0;
    }

        svg {
            height: 30px;
            width: 34px;
        }

}

@media screen and (min-width: 1159px) {
    .mainDiv {
        width: 1100px;
    }

    .paragrph {
        font-size: 18px;
        color: #88b3c2;
        font-weight: 500;
    }
    .activePageButton {
            width: 120px;
            font-weight: 800;
            font-size: 20px;
    }

    .headerButton {
            width: 120px;
            font-size: 17px;
    }

     .hamburgerHidden{   
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    svg{
        height: 30px;
        width: 34px;
    }
}
