header{
    background: linear-gradient(#04184b 10%, #144ea0 50%, #04184b 90%);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .66);
    padding: 10px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
}

.logoDiv{
    display: flex;
    align-items: center;
}

.paragrph{
    font-size: 12px;
    color:#88b3c2;
    font-weight: 500;
}

.headerButton{
    width: 60px;
    border: none;
    background: none;
    color:#88b3c2;
    font-weight: 600;
    font-size: 13px;
}

.activePageButton{
    width: 60px;
    border: none;
    background: none;
    color:#4d9cb9;
    font-weight: 600;
    font-size: 15px;
}

.mainDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 360px;
}

