header{
    background: linear-gradient(#04184b 10%, #144ea0 50%, #04184b 90%);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .66);
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
}

.logoDiv{
    display: flex;
    align-items: center;
}

.headerButton{
    width: 60px;
    border: none;
    background: none;
    color:#88b3c2;
    font-weight: 600;
    font-size: 13px;
}

.activePageButton{
    width: 60px;
    border: none;
    background: none;
    color:#4d9cb9;
    font-weight: 600;
    font-size: 15px;
}

.mainDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {

    header{
        min-width: 340px;
    }   
    .mainDiv {
            width: 340px;
        }
    .visuallyHidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
}

@media screen and (min-width: 768px) and (max-width: 1159px) {
.mainDiv {
        width: 720px;
    }

.paragrph {
    font-size: 12px;
    color: #88b3c2;
    font-weight: 500;
}
}

@media screen and (min-width: 1159px) {
    .mainDiv {
        width: 1100px;
    }

    .paragrph {
        font-size: 18px;
        color: #88b3c2;
        font-weight: 500;
    }
    .activePageButton {
            width: 120px;
            font-weight: 800;
            font-size: 20px;
    }

    .headerButton {
            width: 120px;
            font-size: 17px;
    }

    svg{
        height: 35px;
        width: 34px;
    }
}



