.modalOverlay {
    position: fixed;         
    top: 0;              
    left: 0;             
    right: 0;               
    bottom: 0;               
    background-color: rgba(3, 12, 41, 0.85); 
    display: flex;          
    justify-content: center;
    align-items: flex-start;    
    z-index: 1000;      
  }
  
  .modalContent {
    background-color: white;
    top: 8vh;
    padding: 20px;       
    border-radius: 8px;                  
    max-height: 85%;             
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    position: relative;     
  }
  
  .closeButton {
    position: absolute;  
    top: 10px;               
    right: 10px;            
    background: none;      
    border: none;           
    font-size: 24px;       
    cursor: pointer;        
  }

  @media screen and (max-width: 767px) {
    .modalContent{
      width: 320px; 
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1159px) {

    .modalContent{
      width: 500px; 
    }
  }

  @media screen and (min-width: 1159px) {
    .modalContent{
      width: 750px; 
    }
  }
  