.modalText {
    text-align: justify; 
    max-height: 50vh;     
    overflow-y: auto;      
    overflow-x: hidden; 
}

.newsDiv {
    padding-bottom: 20px;
    border-bottom: 2px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .title {
     font-size: 20px;
     font-style: italic;
     font-weight: 600;
     text-align: center;
     padding-bottom: 5px;
     padding-top: 10px;
 }

  .date {
      display: flex;
      justify-content: space-between;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 5px;
      width: 320px;

  }

  .text {
      border-radius: 5px;
      border: none;
      background-color: transparent;
      box-shadow: 0px 20px 10px -10px rgba(66, 68, 90, 1);
      overflow: hidden;
      text-align: justify;
      width: 320px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;
      line-clamp: 6;
  }

@media screen and (min-width: 320px) {}

@media screen and (max-width: 767px) {

    .mainDiv {
        margin-bottom: 10px;
        border-bottom: 4px solid blue;
    }

    .datepickerDiv{
        display: flex;
        justify-content: center
    }

    .text {
        font-family: Oswald;
        width: 320px;
        -webkit-line-clamp: 6;
        line-clamp: 6;
    }

    .date {
        width: 320px;
    }

    .modalText {
        overflow-y: hidden;
        text-align: justify; 
        width: 320px;
        max-height: 50vh;     
        overflow-y: auto;      
        overflow-x: hidden; 
    }

}

@media screen and (min-width: 768px) and (max-width: 1159px){
    .mainDiv {
        margin-left: 250px;
        width: 450px;
    }

    .date {
        width: 450px;
    }

    .text {
        font-family: Oswald;
        font-size: 17px;
        width: 450px;
        -webkit-line-clamp: 10;
        line-clamp: 10;
    }
}

@media screen and (min-width: 1159px) {
    .mainDiv {
        margin-left: 330px;
    }

    .date {
        width: 750px;
        padding-bottom: 15px;
    }

    .text {
        font-family: Oswald;
        font-size: 17px;
        width: 750px;
        -webkit-line-clamp: 10;
        line-clamp: 10;
    }

    .title {
        font-size: 30px;
        padding-bottom: 15px;
        padding-top: 20px;
    }

    .newsDiv {
        margin-top: 20px;
    }
}