 .mainDiv {
     padding-bottom: 20px;
 }

.inputDataDiv {
    padding-top: 10px;
    display: flex;
}

.tickersDiv {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.slectDiv {
    border-radius: 5px;
    box-shadow: 0px 10px 9px -5px rgba(66, 68, 90, 1);
    background-color: transparent;
    transition: border-bottom 0.3s ease;
    font-family: Oswald;
    font-size: 15px;
}

.inputDataDiv {
    justify-content: space-evenly
}


.button {
    width: 25px;
    height: 25px;
    padding: 0;
    border: 0;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 1px rgba(66, 68, 90, 1);
}

.dataDiv {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 10px;
    justify-content: space-evenly;
    width: 100px;
    align-items: center
}

.simpleDatadiv {
    font-family: Oswald;
    font-size: 12px;
}

.icon {
    position: relative;
    z-index: -100;
    width: 100%;
    height: 100%;
}

.iconCreate {
    color: blue;
}

.iconAdd {
    color: green;
}

.iconRemove {
    color: red;
}


@media screen and (min-width: 320px) {
}

@media screen and (max-width: 767px) {
    .mainDiv {
        border-bottom: 4px solid blue;
    }

    .selectTicker {
        width: 150px;
        height: 100%;
    }  

    .buttonsDiv {
        display: flex;
        gap: 5px
    }
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
    .mainDiv {
            border-right: 4px solid blue;
            width: 210px;
            position: fixed;
            height: 100vh;
        }

    .inputDataDiv{
        flex-wrap: wrap;
        width: 200px;
    }

    .slectDiv{
        width: 200px;
    }

    .dataDiv{
        margin-top: 10px;
    }

    .buttonsDiv{
        display: flex;
        gap: 5px;
        margin-top: 10px;
    }

}

@media screen and (min-width: 1159px) {

    .mainDiv {
        border-right: 4px solid blue;
        width: 270px;
        position: fixed;
        height: 100vh;
    }

    .tickersDiv{
        margin-top: 20px;
    }

    .inputDataDiv{
        
        flex-wrap: wrap;
        width: 260px;
        padding-top: 10px;
        justify-content: space-around;
        
    }

    .slectDiv{
        width: 260px;
        font-size: 20px;
    }

    .dataDiv{
        margin-top: 20px;
    }

    .simpleDatadiv {
        font-size: 20px
    }

    .buttonsDiv{
        display: flex;
        gap: 10px;
        margin-top: 20px;
        align-items: center;
    }


    .button{
        width: 35px;
        height: 35px;
    }


}