@media screen and (min-width: 320px) {

}

@media screen and (max-width: 480px) {

    .mainDiv{
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    .dateDiv{
        display: flex;
        flex-direction: column;
    }

    .dateDiv {
        display: flex;
    }

    .paragraphDate {
        display: flex;
        font-family: Oswald;
        font-size: 17px;
        width: 120px;
        align-items: center;
        }

    .paragraph{
        font-family: Oswald;
        font-size: 13px;
    }
}